@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;

    --radius: 0.75rem;

    --background: 0 0% 7%;
    --foreground: 0 0% 100%;

    --card: 200 14% 13%;
    --card-foreground: 0 0% 100%;

    --popover: 200 14% 13%;
    --popover-foreground: 0 0% 100%;

    --primary: 166 77% 35%;
    --primary-foreground: 0 0% 100%;

    --secondary: 200 10% 18%;
    --secondary-foreground: 0 0% 100%;

    --muted: 200 10% 18%;
    --muted-foreground: 210 6% 72%;

    --accent: 200 10% 18%;
    --accent-foreground: 0 0% 100%;

    --destructive: 6 78% 57%;
    --destructive-foreground: 0 0% 100%;

    --border: 210 7% 20%;
    --input: 210 7% 20%;
    --ring: 166 77% 35%;

    --success: 166 77% 35%;
    --success-foreground: 0 0% 100%;

    --warning: 24 95% 53%;
    --warning-foreground: 0 0% 100%;
  }

  .dark:root {
    color-scheme: dark;

    --background: 0 0% 7%;
    --foreground: 0 0% 100%;

    --card: 200 14% 13%;
    --card-foreground: 0 0% 100%;

    --popover: 200 14% 13%;
    --popover-foreground: 0 0% 100%;

    --primary: 166 77% 35%;
    --primary-foreground: 0 0% 100%;

    --secondary: 200 10% 18%;
    --secondary-foreground: 0 0% 100%;

    --muted: 200 10% 18%;
    --muted-foreground: 210 6% 72%;

    --accent: 200 10% 18%;
    --accent-foreground: 0 0% 100%;

    --destructive: 6 78% 57%;
    --destructive-foreground: 0 0% 100%;

    --border: 210 7% 20%;
    --input: 210 7% 20%;
    --ring: 166 77% 35%;

    --success: 166 77% 35%;
    --success-foreground: 0 0% 100%;

    --warning: 24 95% 53%;
    --warning-foreground: 0 0% 100%;
  }

  body {
    @apply bg-background text-foreground;
  }
}