@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

* {
  -webkit-tap-highlight-color: transparent;
}

html, body, #root {
  height: 100%;
  background-color: #0A0A0A;
}

.agro-scroll::-webkit-scrollbar {
  display: none;
}
.agro-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}